.ticket {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  
}

.ticket p {
  padding: 0;
  margin: 0;
  
}

.mapBody {
  margin-bottom: 20px;
}

.test{
  color:red;
}
